@model mvcdemo.Models.Course

@{
    Layout = "~/Views/Shared/CommonLayout.cshtml";
    ViewBag.Title = "Course Information";
}

    <h2>@Model.Title</h2>
    <h3>@Model.Duration Hours</h3>
    <h3>@Model.Price    INR</h3>
