<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body>
    <h1>ASP.NET MVC Examples</h1>
    <hr/>
    <div>
        @RenderBody()
    </div>
</body>
</html>
