body {
    font-family:Verdana;
    font-size : 12pt;
}

.header {
    background-color:red;
    color:white;
}

.menu {
    background-color : lightgray;
    font-family:Verdana; 
    font-size:12pt;
    font-weight :bold;
}

 
